# Directories to ignore
#######################
node_modules/
dist/
__pycache__/
.idea/

# Credentials Config
#######################
src/config/config.credentials.json

# VIM created files
#######################
*.swp

# Other
#######################
output
